<!DOCTYPE html>
<html>
  <head>
    <title>Andrie site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include  templates/header.ejs %>
    <h1><%= title %></h1>

   <h3>HEY!, It's Me <%= name %></h3>

  </body>
</html>
