<!DOCTYPE html>
<html>
  <head>
    <title>Andrie site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include  templates/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Created by <%= name %></p>
    <p>Content:  </p>

    <% rows.forEach(function(item){ %>
    <li> <%= item.login %> </li>
    <% }); %>

  </body>
</html>
