<!DOCTYPE html>
<html>
  <head>
    <title>Andrie site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include  templates/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Created by <%= name %></p>
    <p>Points: <%= points %></p>

    <p> Category Name: <%= videodata.categoryName %></p>

    <ul>
      <% videodata.categories.forEach(function(item){ %>
      <li><a href="http://www.thenewboston.com/videos_food.php?cat=<%= item.categoryID %>"> <%= item.categoryName %> </a> </li>
      <% }); %>
    </ul>

  </body>
</html>
