<!DOCTYPE html>
<html>
<head>
    <title>Send Request</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var ipaddress;
            var val;

            $("#SendMessage").click(function () {
                var title;
                var content;
                title = $("#title").val();
                content = $("#msg").val();
                val = $("#SendMessage").attr('id');
                ipaddress = $("#ipaddress").val();
                 $.ajax({
                    type: "POST",
                     url: "http://"+ipaddress +":7474",
                    data: {val: val, title: title, content: content},
                    success: function(data)
                    {
                        alert("Wiadomosc wyslana");
                    },
                    error: function(a, b, c) {
                        alert(a +" , "+  b + " , " + c);
                    }
                 });
            });

            $("#Lock").click(function () {
                val = $("#Lock").val();
                ipaddress = $("#ipaddress").val();
                $.ajax({
                    type: "POST",
                    url: "http://"+ipaddress +":7474",
                    data: {val: val},
                    success: function(data)
                    {
                        console.log(data);
                        alert("Ekran Zablokowany!");
                    },
                    error: function(a, b, c) {
                        alert(a +" , "+  b + " , " + c);
                    }
                });
            });

            $("#CreateFile").click(function () {
                val = $("#CreateFile").val();
                ipaddress = $("#ipaddress").val();
                $.ajax({
                    type: "POST",
                    url: "http://"+ipaddress +":7474",
                    data: {val: val},
                    success: function(data)
                    {
                        console.log(data);
                        alert("File Created!");
                    },
                    error: function(a, b, c) {
                        alert(a +" , "+  b + " , " + c);
                    }
                });
            });

        });

    </script>
</head>
<body>
<% include templates/header.ejs %> <br/>
<br/>
IP Adress: <input type="text" id="ipaddress" value="localhost" size="40"> <br/>

<h3>Send Message:</h3>
Title:   <input type="text" id="title" value="" size="40"> <br/>
Messege: <input type="text" id="msg" value="" size="40"> <br/>
<input type="button" id="SendMessage" value="Send"> <br/>

<h3>Lock Screen</h3>
<input type="button" id="Lock" value="Lock"> <br/>

<h3>Create Sample txt File</h3>
<input type="button" id="CreateFile" value="CreateFile"> <br/>

</body>
</html>